.liNote{
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1rem;
    border-radius: 15px;
    width: 100%;
    list-style:none;
    margin: 0.5rem;
    padding: 0.3rem;
    display: flex;
}
.checkNote{
    background-color: rgba(206, 206, 182, 0.568);
    cursor: pointer;
}
.checkNote:hover{

}
.textNote{
    width: 90%;
}
.deleteNote{
    background-color: pink;
}


  .Icon-check--active {
    color: #4caf50;
  }

  .Icon-delete {
    color: #2d2e2d;
    cursor: pointer; 
  }
  .Icon-delete:hover {
    color: red;
    
 }

 .NoteItem-p--complete {
    text-decoration: line-through;
  }