.generalBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #91b2f0,#bd789f);
    height: 100vh;

}
.boxNotes{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
h1{
    background: linear-gradient(to right, #3874ec,#f5028b);
    font-size: 35px;
    font-weight:800 ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;
    white-space: nowrap;
}